body {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	text-align: justify;
}

h1 {
	font-family: sans-serif;
	font-weight: 100;
	font-size: xx-large;
}

h2 {
	font-family: sans-serif;
	font-size: x-large;
}

.navbar-brand {
	font-family: sans-serif;
	font-weight: 300;
}

.nav-item {
	font-family: sans-serif;
	font-weight: 300;
	color: white;
}

.navbar-toggle-collpase {
	background-color: #ff0000 !important;
}

.dropdownmenu.dropdown-toggle {
	background-color: coral !important;
}

.navbar-custom {
    background-color: #ddd;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #202020;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32, 32, 32, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#imgDesktop{display: block;}
#imgMobile{display: none;}

.mobileHide{display: inline;}
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){  
	#imgDesktop{display: none;}
	#imgMobile{display: block;}
	.mobileHide { display: none;}}
