.container {
    
	margin-right: 20vw;
    padding:0vw;

}

.nopadding {
    padding: 0.1vw !important;
    margin: 0vw !important;
 }

.col-sm {
    border: 0.1vw solid #F00;
}

.padding {
    padding: 1vw !important;
    margin: 1vw !important;
}

.abstract-text {
    align-content: center;
}
